.command-input {
  width: 500px;
  height: 30px;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
}

.terminal {
  width: 500px;
  height: 250px;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}
